PORT="4500"
NODE_ENV="development"

#------------ MONGODB CONFIGURATION -------------
MONGODB_CONNECTION_STRING=""

#------------ AI  -------------
AI_API_BASE_URL=""

#------------ SMS CONFIGURATION -------------
MSG91_WIDGET_ID=""
MSG91_AUTH_KEY=""
MSG91_SEND_SMS_API_URL=""

#------------ JWT CONFIGURATION -------------
JWT_ACCESS_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_SECRET=""

#------------ Minio ------------------------
MINIO_ENDPOINT=""
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_BUCKET_NAME=""

#------------ Translation API ------------------------
TRANSLATION_API_BASE_URL=""

#------------ LiveKit Configuration ------------------------
LIVEKIT_URL=""
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""

#------------ Custom STT Server ------------------------
STT_BASE_URL=""

# Custom TTS server
TTS_BASE_URL=""